<h1> Good Bye ! </h1>

<p><b>
Sorry, you do not belong to the Github organization
<%= link_to @github_org, "https://github.com/organizations/#{@github_org}" %>.
</b></p>

<p>
  <a href='/'>Try Again!</a>
</p>
